@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Edit Machine: @Html.DisplayFor(model => model.Name)</h1>
<hr/>
<button>@Html.ActionLink("Add Machine Permissions", "AddMachine", new { id = Model.MachineId })</button>

@using (Html.BeginForm())
{
  @Html.Label("Name", "Name")<br>
  @Html.EditorFor(model => model.Name)<br>

  @Html.Label("Status", "Status")<br>
  @Html.EditorFor(model => model.Status)<br>

  @Html.Label("Description", "Description")<br>
  @Html.EditorFor(model => model.Description)<br>

  @Html.Label("DateOfLastRepair", "Date Of Last Repair")<br>
  @Html.EditorFor(model => model.DateOfLastRepair, new { @type = "date"} )<br>

  @Html.Label("NextInspection", "Date Of Next Inspection")<br>
  @Html.EditorFor(model => model.NextInspection, new { @type = "date"} )<br>

  <input type="submit" value="Add New Machine" /><br>
}

<button>@Html.ActionLink("Home", "Index", "Home")</button>
<button>@Html.ActionLink("Jump To Engineers", "Index", "Engineers")</button>
<button>@Html.ActionLink("Jump To Machines", "Index", "Machines")</button>