@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Edit Engineer: @Html.DisplayFor(model => model.Name)</h1>
<hr/>
<button>@Html.ActionLink("Add Machine Permissions", "AddMachine", new { id = Model.EngineerId })</button>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("FirstName", "First Name")<br>
  @Html.EditorFor(model => model.FirstName)<br>

  @Html.Label("LastName", "Last Name")<br>
  @Html.EditorFor(model => model.LastName)<br>

  @Html.Label("Salary", "Salary")<br>
  @Html.EditorFor(model => model.Salary, new { @type = "number"} )<br>

  @Html.Label("DateOfHire", "Date Of Hire")<br>
  @Html.EditorFor(model => model.DateOfHire, new { @type = "date"} )<br>

  <input type="submit" value="Add New Engineer" /><br>
}

<button>@Html.ActionLink("Home", "Index", "Home")</button>
<button>@Html.ActionLink("Jump To Engineers", "Index", "Engineers")</button>
<button>@Html.ActionLink("Jump To Machines", "Index", "Machines")</button>